* {
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 350;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.social-icon,
.project-icon {
  width: 24px;
  height: 24px;
}

section.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.about-image {
  position: relative;
}

.about-image .title {
  bottom: 0;
  left: 1rem;
  position: absolute;
  color: white;
  font-size: 4rem;
  font-weight: 400;
}

.about-image picture {
  display: block;
}

.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
}

.about-info p {
  font-size: 1.5rem;
  font-weight: 350;
  color: rgb(89, 89, 89);
}

.about-socials {
  display: flex;
  gap: 1.5rem;
}

.about-socials img {
  width: 2rem;
  height: 2rem;
}

.work {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr;
  place-items: center;
  padding: 2rem;
}

.project {
  height: 500px;
  display: grid;
  grid-template-rows: 300px 1fr;
  box-shadow: 2px 2px 8px 2px rgb(0 0 0 / 20%);
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.project-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-header {
  display: flex;
  justify-content: space-around;
}

.project-name {
  font-size: 1.5rem;
  font-weight: 200;
}

.project-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-links:last-child img {
  filter: brightness(0) saturate(100%);
}

.project-description {
  color: rgb(89, 89, 89);
  font-size: 1rem;
  margin: 0;
  font-weight: 375;
}

.contact {
  background-color: rgb(53, 132, 159);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 4rem;
}

.contact-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-content h2 {
  align-self: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 350;
  gap: 1.5rem;
}

.contact-info .address p {
  font-size: 1.1rem;
}

.contact-link {
  color: inherit;
  text-decoration: none;
}

.contact-socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.contact-socials img {
  width: 3rem;
  height: 3rem;
}

.contact picture {
  display: block;
}
