* {
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background: linear-gradient(165deg, rgb(53, 132, 159) 10%, white 10%);
}

p {
  margin: 0;
  padding: 0;
  font-weight: 350;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.social-icon,
.project-icon {
  width: 24px;
  height: 24px;
}

section.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.about-image {
  position: relative;
}

.about-image .title {
  bottom: 0;
  position: absolute;
  color: white;
  font-size: 4rem;
  font-weight: 400;
  padding: 1rem;
}

.about-image picture {
  display: block;
}

.about p {
  font-size: 1.25rem;
  color: rgb(89, 89, 89);
}

.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
}

.about-info p {
  font-size: 1.25rem;
  font-weight: 350;
  color: rgb(89, 89, 89);
}

.about-socials {
  display: flex;
  gap: 1.5rem;
}

.about-socials img {
  width: 2rem;
  height: 2rem;
}

.work {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr;
  place-items: center;
  padding: 2rem;
}

.project {
  height: 500px;
  display: grid;
  grid-template-rows: 300px 1fr;
  box-shadow: 2px 2px 8px 2px rgb(0 0 0 / 20%);
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.project-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-header {
  display: flex;
  justify-content: space-around;
}

.project-name {
  font-size: 1.5rem;
  font-weight: 200;
}

.project-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-links:last-child img {
  filter: brightness(0) saturate(100%);
}

.project-description {
  color: rgb(89, 89, 89);
  font-size: 1rem;
  margin: 0;
  font-weight: 375;
}

.contact {
  background-color: rgb(53, 132, 159);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 4rem;
}

.contact-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-content h2 {
  align-self: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 350;
  gap: 1.5rem;
}

.contact-link {
  color: inherit;
  text-decoration: none;
}

.contact-socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.contact-socials img {
  width: 3rem;
  height: 3rem;
}

.contact picture {
  display: block;
}

@media (min-width: 768px) and (max-width: 1023px) {
  section.about {
    padding: 3rem 1.5rem;
    background-color: white;
    margin: 5rem;

    margin-top: 8rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /* Remove flex/grid for desktop */
    display: block;
    position: relative;
  }

  .about-info {
    display: block;
  }

  .about-image {
    position: static;
    float: left;
    max-width: 60%;
    transform: translate(-75px, -150px);
    margin-right: calc(-75px + 1.5rem);
    margin-bottom: calc(-150px + 0.5rem);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .about-image .title {
    font-size: 3rem;
    width: max-content;
    position: absolute;
    top: 0;
    right: 4rem;
    transform: translateX(100%);
  }

  .about h2 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
  }

  .about p {
    padding-left: 2rem;
    font-size: 1rem;
  }

  .about-socials {
    display: none;
  }

  .work {
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
  }

  .work h2 {
    font-size: 2.5rem;
    grid-column: 1 / -1;
    justify-self: start;
    margin-bottom: -2rem;
  }

  .contact {
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    place-items: center;
  }

  .contact h2 {
    align-self: start;
    font-size: 2.5rem;
  }

  .contact p,
  .contact a {
    font-size: 1rem;
  }

  .contact-socials {
    justify-content: flex-start;
  }

  .contact-socials img {
    width: 2rem;
    height: 2rem;
  }

  .phone-number,
  .email {
    display: flex;
    align-items: center; /* Vertically centers everything */
    gap: 0.5rem;
  }

  .phone-number::before {
    content: "";
    background-image: url("./icons/phone.svg");
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .email::before {
    content: "";
    background-image: url("./icons/email.svg");
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
/* Add this OUTSIDE of your tablet media query */
@media (min-width: 1024px) {
  section.about {
    flex-direction: row;
    padding: 4rem 3rem;
    gap: 0;
  }

  .about-image {
    flex: 1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  .about-info {
    flex: 1;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    gap: 2rem;
  }

  .about-info h2 {
    font-size: 2.5rem;
    align-self: flex-start;
  }

  .about-socials {
    align-self: flex-end;
  }

  .work {
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem;
  }

  .work h2 {
    font-size: 2.5rem;
    grid-column: 1 / -1;
    justify-self: start;
    margin-bottom: -2rem;
  }

  .contact {
    padding: 4rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2rem;
    place-items: center;
  }

  .contact h2 {
    align-self: start;
    font-size: 2.5rem;
  }

  .contact p,
  .contact a {
    font-size: 1rem;
  }

  .contact-socials {
    justify-content: flex-start;
  }

  .contact-socials img {
    width: 2rem;
    height: 2rem;
  }

  .phone-number,
  .email {
    display: flex;
    align-items: center; /* Vertically centers everything */
    gap: 0.5rem;
  }

  .phone-number::before {
    content: "";
    background-image: url("./icons/phone.svg");
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .email::before {
    content: "";
    background-image: url("./icons/email.svg");
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
