/* TODO: Replace with responsive image styles */
img {
  width: 600px;
}

/* TODO: Replace with responsive image styles */
a img {
  width: 24px;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}
